/* Fonts extracted from: https://www.marriott.com/default.mi */

/* Font: Swiss-721 (Bitstream Swiss 721 BT) — Marriott CDN */
/* stylelint-disable max-line-length */

@font-face {
  font-family: 'Swiss-721';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Regular.woff2') format('woff2'),
    url('https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Swiss-721';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Medium.woff2') format('woff2'),
    url('https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Swiss-721';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Bold.woff2') format('woff2'),
    url('https://cache.marriott.com/aka-fonts/MarriottDigital/swiss/Swiss721BT-Bold.woff') format('woff');
}
