@import url('./hero-tokens.css');

.hero-event-container .hero-event-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-event {
  position: relative;
  padding: var(--hero-padding);
  min-height: var(--hero-min-height);
}

.hero-event h1 {
  max-width: var(--hero-heading-max-width);
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-event picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-event img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-event {
    padding: var(--hero-padding-desktop);
  }
}
